body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li {
    list-style-type: none;
}

.container {
    width: 500px;
    min-height: 100vh;
    margin: 0 auto;
}

.menu {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu__menu-btn {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__dropdown {
    width: 250px;
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    background-color: lightgray;
    border-radius: 10px;
}

.dropdown__create-btn {
    padding: 4px;
    font-size: 16px;
    outline: none;
    background-color: cornflowerblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.menu__item-name {
    margin-left: -30px;
    cursor: pointer ;
}

.menu__item-btn {
    margin-left: 100px;
    padding: 2px;
    font-size: 14px;
    color: gray;
    outline: none;
    background-color: rgb(185, 202, 233);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.menu__item-btn:hover {
    background-color: cornflowerblue;
    color: black;
}
