* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, li {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 500px;
    height: 100vh;
}

.container__menu {
    margin-bottom: 20px;
}

.menu-btn {
    margin: 0px auto;
    width: 40%;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    display: block;
    background-color: transparent;
    border: none;
}

.menu {
    margin: 0px auto;
    width: 40%;
    height: 114px;
    background-color: lightgray;
    border-radius: 8px;
    text-align: center;
}

.container__list {
    width: 500px;
    height: 500px;
    padding: 20px;
}

.list__control-panel {
    margin: 0 auto;
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
}

.control-panel__input {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.control-panel__add-task-btn {
    width: 80px;
    height: 28px;
    display: 'inline-block';
    float: right;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color:cornflowerblue;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.list__lists-area {
    margin: 0 auto;
    width: 400px;
    height: 300px;
}

.lists-area__input {
    width: 340px;
    height: 20px;
    margin: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.lists-area__complete-btn {
    width: 14px;
    height: 14px;
    border-radius: 30px;
    background-color:mediumseagreen;
    cursor: pointer;
    outline: none;
    border: none;
}

.lists-area__edit-btn {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-radius: 30px;
    background-color:blueviolet;
    cursor: pointer;
    outline: none;
    border: none;
}

.lists-area__remove-btn {
    width: 14px;
    height: 14px;
    border-radius: 30px;
    background-color:crimson;
    cursor: pointer;
    outline: none;
    border: none;
}
